<template>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 mt-4">
        <h2 class="c-title">{{ getCategoryName }}</h2>
        <p>Retrouvez ici nos {{ getCategoryName.toLowerCase() }}. Cliquez sur l'une des categories pour voir les
          produits.</p>
      </div>
      <div v-if="!dataLoading" class="col-sm-12 mt-2">
        <div class="row">
          <div v-for="family in families" :key="family.id" class="col-sm-3 mt-2">
            <div @click="goToFamily(family)" class="card c-family-card">
              <div class="c-family-card-photo align-self-center">
                <img :src="family.photo" class="card-img-top" height="250" alt="...">
              </div>
              <div class="card-body">
                <p class="card-text">{{ family.name }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div v-if="dataLoading" class="col-sm-12">
        <b-spinner label="Spinning"></b-spinner>
      </div>
    </div>
  </div>
</template>

<script src="./Categorie.js"></script>
<style lang="scss" scoped src="./Categorie.scoped.scss"></style>
<style lang="scss" src="./Categorie.scss"></style>
<style lang="scss" src="./../../../main.scss"></style>
