.c-table {
    .c-table-header {
        background-color: $blue;
        color: white;
    }
    .c-table-photo {
        width: 125px;
        height: 125px;
    }
    .c-table-total-line{
        background-color: $blue;
        color: white;
        .c-table-total {
            font-size: 16pt;
        }
    }
}