td, th {
    vertical-align: middle
}

.c-admin-header {
    box-shadow: 2px 4px 10px rgba(0,0,0,.2) !important;
    background-color: #e8e7e7 !important;
    padding-top: 40px !important;
    padding-bottom: 40px !important;
    font-family: 'Raleway', sans-serif !important;
}

.c-admin-button {
    box-shadow: 2px 4px 10px rgba(0,0,0,.2);
    border-radius: 0 !important;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 10px 20px 10px 20px;
    background-color: #343a40 !important;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
    color: white !important;
    &.active{
        background-color: #9b9b9b;
        box-shadow: 2px 4px 10px rgba(0,0,0,1);
    }
}

.c-admin-button-cancel {
    background-color: #c1c2c1 !important;
    color: black;
}

.c-admin-button-delete {
    background-color: #c82333 !important;
    color: white;
}

.c-admin-table {
    box-shadow: 2px 4px 10px rgba(0,0,0,.2);
    tbody {
        tr {
            border-bottom: 2px solid #9b9b9b;
        }
    }
    .c-admin-table-header-sub-table {
        background-color: #9b9b9b;
    }
    .c-admin-table-sub-table {
        tr, td {
            border: 1px solid #9b9b9b;
        }
       
    }
}

.c-family-image-upload{
    height: 100px;
}

.c-photo-family {
    height: 100px;
}

