<template>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 mt-4">
        <h2 class="c-title">{{ product.name }}</h2>
        <p>Cliquez sur 'ajouter' pour ajouter le produit à votre
          panier. Les produits seront directement retirable en magasin au 7, rue Edouard Barbey à Mazamet
        </p>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-6 col-sm-12">
        <div class="row c-photo-background">
          <div class="col-sm-12 mt-4">
            <img center fluid :src="currentPhotoLink" height="500" width="500" alt="Image 1" />
          </div>
          <div class="col-sm-12 p-4 c-photo-background" fluid>
            <div class="row">
              <div class="col-sm-3">
                <b-img @click="changePhoto(product.photo)" center thumbnail fluid class="c-mini-photo"
                  :src="product.photo" alt="Image 1"></b-img>
              </div>
              <div @click="changePhoto(product.photo2)" v-if="product.photo2" class="col-sm-3">
                <b-img center thumbnail fluid :src="product.photo2" class="c-mini-photo" alt="Image 2"></b-img>
              </div>
              <div @click="changePhoto(product.photo3)" v-if="product.photo3" class="col-sm-3">
                <b-img center thumbnail fluid :src="product.photo3" class="c-mini-photo" alt="Image 3"></b-img>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="row">
          <div class="col-sm-12">
            <h1>{{ product.name }}</h1>
          </div>
        </div>
        <div class="row mt-4 ml-4 c-desc-product">
          <div class="col-sm-12 text-left">
            <p>{{ product.desc }}</p>
          </div>
        </div>
        <div class="row mt-4 justify-content-center">
          <div class="col-sm-8 text-center c-price-section">
            <p class="mt-2 c-price">{{ product.price }} €</p>
            <small>à régler au moment de récupération en magasin</small>
            <div class="row mt-4">
              <div v-if="!isInCart(product)" class="col-sm-12"><button @click="addProductToCart(product)"
                  class="btn c-button mb-4">Ajouter au panier !</button></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script src="./Produit.js"></script>
<style lang="scss" scoped src="./Produit.scoped.scss"></style>
<style lang="scss" src="./Produit.scss"></style>
