<template>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 mt-4">
        <h2 class="c-title">Contact</h2>
        <p>Vous avez une question ? Besoin d'un renseignement ?</p>
        <p>N'hésitez pas à nous contacter au <strong>06 06 06 06 06</strong></p>
      </div>
    </div>
  </div>
</template>

<script src="./Contact.js"></script>
<style lang="scss" scoped src="./Contact.scoped.scss"></style>
<style lang="scss" src="./Contact.scss"></style>
