@import '../../sass/variable.scss';
.c-header {
    background-color: $blue;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: white;
    h1 {
        cursor: pointer;
        font-family: 'Amatic SC', cursive;
        color: $yellow;
        font-weight: bold;
        border-top: 1px solid $yellow;
        border-bottom: 1px solid $yellow;
        padding-top: 0.5rem;
        padding-bottom: 0.75rem;
    }
}
.c-subtitle {
    color: $yellow;
    font-family: 'Indie Flower', cursive;
    font-size: 14pt;
    font-weight: bold;
}