<template>
  <footer class="c-footer mt-4">
      <router-link :to="'/management'">Management</router-link>
  </footer>
</template>

<script src="./Footer.js"></script>
<style lang="scss" scoped src="./Footer.scoped.scss"></style>
<style lang="scss" src="./Footer.scss"></style>
