<template>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 mt-4">
        <h1 class="c-title-home">Bienvenue chez mon petit producteur ! </h1>
      </div>
      <div class="col-sm-6 mt-4 text-justify">
        <h4>Quel est le but du site ?</h4>
        <p>Blablablablablalbalbla</p>
      </div>
      <div class="col-sm-6 mt-4 text-justify">
        <h4>Et après ?</h4>
        <p>Blablablablablalbalbla</p>
      </div>
      <div class="col-sm-12 mt-4 c-title-home">
      </div>
      <div class="col-sm-12 mt-4">
        <img src="@/assets/producteur.jpg">
      </div>
      <div class="col-sm-12 mt-4">
      </div>

    </div>

  </div>
</template>

<script src="./Home.js"></script>
<style lang="scss" scoped src="./Home.scoped.scss"></style>
<style lang="scss" src="./Home.scss"></style>
