<template>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 mt-4">
        <img src="./../../../../../src/assets/success.svg" class="img-fluid" width="250" height="250" alt="Responsive image">
        <h2 class="mt-4">Commande réalisée avec succès !</h2>
      </div>
    </div>
  </div>
</template>

<script src="./CommandeSucces.js"></script>
<style lang="scss" scoped src="./CommandeSucces.scoped.scss"></style>
<style lang="scss" src="./CommandeSucces.scss"></style>
