<template>
  <ul class="nav justify-content-center c-nav">
    <li v-for="cat in categories" :key="cat.id"  class="nav-item c-nav-item">
      <a @click="goToCat(cat)" class="nav-link">{{cat.name}}</a>
    </li>
    <li class="nav-item c-nav-item">
       <a @click="goToContact()" class="nav-link">Contact</a>
    </li>
  </ul>
</template>

<script src="./Nav.js"></script>
<style lang="scss" scoped src="./Nav.scoped.scss"></style>
<style lang="scss" src="./Nav.scss"></style>
